---
import AppLink from '@/components/astro/ui/AppLink.astro';
import Pulse from '@/components/astro/ui/Pulse.astro';

const experiences = [
  {
    duration: 'Current',
    name: 'comparado (idealo company)',
    title: 'CEO',
    link: 'https://www.idealo.de/',
  },

  {
    duration: 'Current',
    name: 'nulberry.org',
    title: 'Founder & Maintainer',
    link: 'https://nullberry.org',
  },
  {
    duration: '2018 – 2020',
    name: 'Trotec',
    title: 'Accelerator Builder',
    link: 'https://nullberry.org',
  },

  {
    duration: '2016 – 2018',
    name: 'Dr. Förster AG',
    title: 'CTO',
    link: '',
  },

  {
    duration: '2012 – 2015',
    name: '23',
    title: 'Founder & CTO',
    link: '',
  },

  {
    duration: '2012 – 2015',
    name: 'P&P Medien',
    title: 'Head of E-Commence',
    link: '',
  },

  {
    duration: '2010 – 2012',
    name: 'VIP Sportnahrung',
    title: 'Engineering Manager',
    link: '',
  },

  {
    duration: '2012 – 2015',
    name: 'Blackvang',
    title: 'Senior Software Engineer',
    link: '',
  },

  {
    duration: '2006 – 2008',
    name: ' SAFA Sport Academy',
    title: 'Software Engineer',
    link: '',
  },




];
---

<ul class=":uno: space-y-2">
  {
    experiences.map((exp) => (
      <li class=":uno: items-center grid gap-x-4 md:grid-cols-[10ch_1fr_max-content] grid-cols-[1fr_max-content]">
        <p class=":uno: flex items-center space-x-2 order-1 md:order-0 ml-auto text-gray-700 dark:text-gray-500">
          {exp.duration.toLowerCase() === 'current' && (
            <Pulse class=":uno: -mt-[2.5px]" />
          )}
          <span style="font-feature-settings: 'tnum' 1;">{exp.duration}</span>
        </p>

        <AppLink
          href={exp.link}
          class=":uno: font-medium text-gray-900 dark:text-gray-300 transition-colors hover:text-gray-800 dark:hover:text-gray-200 focus:text-gray-800 dark:focus:text-gray-200 inline-flex items-center space-x-2 text-balance w-fit"
        >
          {exp.name}
        </AppLink>

        <p class="text-sm md:text-base leading-[1.75] order-2 md:order-0 text-gray-700 dark:text-gray-500">{exp.title}</p>
      </li>
    ))
  }
</ul>
