---
import { getCollection } from 'astro:content';

import AppLink from "@/components/astro/ui/AppLink.astro";

const posts = (await getCollection('posts'))
  .filter(post => !post.data.isDraft)
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime())
  .slice(0, 3);
---

<!-- reduce spacing for one-liners -->
<ul class=":uno: space-y-2">
  {
    posts.map((post) => (
      <li class=":uno: flex gap-x-4 flex-col md:items-center md:flex-row md:justify-between">
        <div class="flex flex-col gap-1">
          <AppLink
            href={`/posts/${post.slug}`}
            class=":uno: text-heading/85 transition-colors items-center hover:text-heading focus:text-heading inline-flex text-balance space-x-2 font-medium"
          >
            {post.data.title}
          </AppLink>
        </div>
        <p class=":uno: text-sm md:text-base leading-[1.75]">{post.data.publishedAt.toLocaleString('en-GB', {
          year: '2-digit',
          month: 'short',
          day: 'numeric',
        })}</p>
      </li>
    ))
  }
</ul>

<script>
  // Fetch view counts for all posts
  document.querySelectorAll('.views-counter').forEach(async (counter) => {
    const slug = counter.getAttribute('data-slug');
    const response = await fetch(`https://api.countapi.xyz/get/blog-${slug}/views`);
    const data = await response.json();
    counter.textContent = `${data.value || 0} views`;
  });
</script>
