---
---

<div class=":uno: flex space-x-4 md:space-x-0 md:block">
  <div class=":uno: md:mt-4">
    <h1
      class=":uno: text-gray-900 dark:text-gray-300 font-semibold text-2xl tracking-tight transition-colors"
    >
    WΛLEED
    </h1>
    <p class=":uno: flex items-center space-x-2 leading-normal text-lg text-gray-800 dark:text-gray-400">
      <span class=":uno: whitespace-nowrap"></span>
    </p>
  </div>
</div>
